.main {
    width: 100%;
    height: auto;
    /* padding: 30px 0; */
    background-color: var(--light-color);

    /* banner section style */
    .banner {
        width: 100%;
        padding: 30px 0;

        .carousel-content {
            display: flex;
            width: 100%;
            overflow: hidden;
            scroll-behavior: smooth;

            .carousel {
                width: 100%;
                flex-shrink: 0;
            }

            .d-flex {
                justify-content: space-between;
                align-items: center;
                gap: 30px;

                @media(max-width:600px) {
                    flex-direction: column-reverse;
                }
            }

            .left-content {
                display: flex;
                flex-direction: column;
                gap: 20px;

                span {
                    color: var(--dark-color);
                }

                span:first-child {
                    font-weight: 400;
                    font-size: 72px;
                    letter-spacing: 0.02em;

                    @media(max-width:600px) {
                        font-size: 38px;
                    }
                }

                span:last-child {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 180%;
                    letter-spacing: 0.02em;
                    color: rgba(0, 0, 0, 0.5);
                    width: 80%;

                    @media(max-width:600px) {
                        width: 100%;
                    }
                }
            }

            .right-img {
                img {
                    @media(max-width:600px) {
                        width: 100%;
                    }
                }
            }
        }

        .carousel-control {
            display: flex;
            gap: 10px;
            width: 90%;
            margin: auto;
            margin-top: 30px;

            input {
                display: none;
            }

            label {
                width: 7px;
                height: 7px;
                border: 2px solid #D9D9D9;
                background: #D9D9D9;
                border-radius: 50%;
                cursor: pointer;
            }

            input[type="radio"]:checked+label {
                width: 20px;
                height: 7px;
                border: 2px solid var(--secondary-color);
                border-radius: 20px;
                background: var(--secondary-color);
            }
        }
    }

    /* gallery section style */
    .gallery-wrapper {
        padding: 30px 0;

        .gallery {
            display: flex;
            flex-direction: column;
            gap: 30px;
            background-color: var(--grey-color);
            padding: 60px 0;

            .title {
                padding: 20px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 32px;
                letter-spacing: 0.02em;
                color: #000;

            }

            .gallery-img {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
                padding: 0 20px;

            }

            img {
                flex-grow: 1;
                width: 100%;
            }

            .explore-btn {
                display: flex;
                justify-content: center;
                margin-bottom: 2pc;

                button {
                    padding: 15px 30px;
                    border: none;
                    background: var(--dark-color);
                    color: var(--light-color);
                    font-family: var(--second-family);
                    font-weight: 500;
                    font-size: 16px;
                    letter-spacing: 0.02em;
                    color: #fcfcfc;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    cursor: pointer;
                }
            }
        }

    }

    /* testimonial section style */
    .testiml {
        width: 100%;
        padding: 60px 0;

        .d-flex {
            gap: 30px;
            align-items: center;

            @media(max-width:600px) {
                flex-direction: column;
            }
        }

        .left-img {

            img {
                @media(max-width:600px) {
                    width: 100%;
                    display: none;
                }
            }

        }

        .right-content {
            width: 100%;
            @media(max-width:600px) {
                /* flex-direction: column; */
            }

            .title {
                margin-bottom: 30px;
                width: 100%;

                span {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 48px;
                    letter-spacing: 0.02em;

                    @media(max-width:600px) {
                        font-size: 32px;
                    }
                }

                span:first-child {
                    color: var(--secondary-color);
                }

                span:last-child {
                    color: var(--dark-color);
                }
            }

            .accordion {
                display: flex;
                gap: 20px;

                @media(max-width:600px) {
                    gap: 10px;
                }

                .accordion-list {
                    background: #ffffff;
                    box-shadow: 5px 5px 12px 4px rgba(244, 241, 241, 0.5);
                    align-content: center;
                    padding: 30px 0;
                    flex-grow: 1;

                    .accordion-content {
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        padding: 10px;

                        img {
                            width: 50px;
                            height: 50px;
                        }

                        input {
                            display: none;
                        }

                        label {
                            cursor: pointer;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            align-items: center;

                            .text {
                                text-align: center;
                                span{
                                    font-family: var(--second-family);
                                    font-weight: 600;
                                    font-size: 14px;
                                    letter-spacing: 0.02em;
                                    color: #000;
                                }
                                span:nth-child(2){
                                    font-family: var(--font-family);
                                    font-weight: 400;
                                    font-size: 12px;
                                    letter-spacing: 0.02em;
                                    color: rgba(0, 0, 0, 0.7);
                                    display:none;
                                }
                                span:last-child{
                                    font-weight: 400;
                                    font-size: 14px;
                                    letter-spacing: 0.02em;
                                }
                            }
                        }

                        .content {
                            margin-top: 20px;
                            display: none;

                            span{
                                font-family: var(--font-family);
                                font-weight: 400;
                                font-size: 14px;
                                letter-spacing: 0.02em;
                                color: #000;
                            }
                        }

                        input[type="radio"]:checked+label {
                            /* background:#f1f1f1; */
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            flex-direction: row;
                            text-align: left;

                            img {
                                width: 40px;
                                /* height:40px; */
                            }

                            .text {
                                text-align: left;
                                span:nth-child(2){
                                    display:block;
                                }
                                span:last-child{
                                    display:none;
                                }
                            }
                        }

                        input[type="radio"]:checked+label+.content {
                            /* background:#f1f1f1; */
                            display: flex;
                            flex-direction: column;
                            gap:20px;
                        }

                    }
                }

            }

        }
    }

    /* faq section */
    .faq-section{
        width:100%;
        height: auto;
        padding:60px 0;

        .d-flex{
            gap:30px;

            @media(max-width:600px){
                flex-direction: column;
            }
        }
        .left-content{
            width:100%;

            .tabs{
                /* background:green; */
                .title{
                    margin-bottom: 30px;
                    span{
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 48px;
                        letter-spacing: 0.02em;
                        @media(max-width:600px){
                            font-size: 32px;
                        }
                    }
                    span:first-child{
                        color: var(--secondary-color);
                    }
                    span:last-child{
                        color: var(--dark-color);
                    }
                }

                .tab-content{
                    display:flex;
                    flex-direction: column;
                    gap:20px;

                    .faq-content{
                        padding:30px;
                        background:#ffffff;
                        box-shadow: 5px 5px 12px 4px rgba(244, 241, 241, 0.5);
                        gap:5px;
                        flex-direction: column;
                        
                        span{
                            font-family: var(--second-family);
                            font-weight: 600;
                            font-size: 16px;
                            letter-spacing: 0.02em;
                            color: #000;
                        }
                        span:last-child{
                            font-family: var(--second-family);
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 180%;
                            letter-spacing: 0.02em;
                            color: rgba(0, 0, 0, 0.7);
                        }
                    }
                }

                .tab-control{
                    display:flex;
                    margin-top: 30px;
                    gap:20px;

                    input{
                        display:none;
                    }

                    label{
                        display:flex;
                        width:40px;
                        height:40px;
                        background: var(--grey-color);
                        border-radius: 50%;
                        align-items: center;
                        /* align-content: center; */
                        justify-content: center;
                        cursor: pointer;
                    }

                    input[type="radio"]:checked + label{
                        background:var(--dark-color);
                        color:var(--light-color);
                    }
                }
            }
        }
        .right-img{
            @media(max-width:600px){
                img{
                    display:none;
                }
            }
        }
    }
}